<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.knime.conda.envinstall.action.InstallCondaEnvironment$InstallAction"
            name="installcondaenvironment"
            description="DEPRECATED - Do not use the install action. Conda environments are installed during runtime."
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.knime.conda.envinstall.action.InstallCondaEnvironment$UninstallAction"
            name="uninstallcondaenvironment"
            description="DEPRECATED - Do not use the uninstall action. Conda environments are managed during runtime."
            version="1.0.0">
      </action>
   </extension>
</plugin>
