<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.knime.conda.micromamba.bin.p2.actions.CreateCondaEnv"
            description="Creates a Conda environment from the channel and environment definition in the plugin."
            name="CreateCondaEnv"
            touchpointType="org.eclipse.equinox.p2.osgi"
            touchpointVersion="1.0.0"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.knime.conda.micromamba.bin.p2.actions.RemoveCondaEnv"
            description="Removes a Conda environment."
            name="RemoveCondaEnv"
            touchpointType="org.eclipse.equinox.p2.osgi"
            touchpointVersion="1.0.0"
            version="1.0.0">
      </action>
   </extension>

</plugin>
