<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
            point="org.knime.core.PortType">
            <portType
                  color="#FFDD99"
                  hidden="false"
                  name="Python Environment"
                  objectClass="org.knime.pixi.port.PythonEnvironmentPortObject"
                  objectSerializer="org.knime.pixi.port.PythonEnvironmentPortObject$Serializer"
                  specClass="org.knime.pixi.port.PythonEnvironmentPortObjectSpec"
                  specSerializer="org.knime.pixi.port.PythonEnvironmentPortObjectSpec$Serializer">
            </portType>
      </extension>
</plugin>