<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
            point="org.knime.core.PortType">
            <portObject
                  color="#7F7F7F"
                  hidden="false"
                  name="Pixi Environment"
                  objectClass="org.knime.pixi.port.PixiEnvironmentPortObject"
                  objectSerializer="org.knime.pixi.port.PixiEnvironmentPortObject$Serializer"
                  specClass="org.knime.pixi.port.PixiEnvironmentPortObjectSpec"
                  specSerializer="org.knime.pixi.port.PixiEnvironmentPortObjectSpec$Serializer">
            </portObject>
            <portObject
                  color="#4CAF50"
                  hidden="false"
                  name="Python Environment"
                  objectClass="org.knime.pixi.port.PythonEnvironmentPortObject"
                  objectSerializer="org.knime.pixi.port.PythonEnvironmentPortObject$Serializer"
                  specClass="org.knime.pixi.port.PythonEnvironmentPortObjectSpec"
                  specSerializer="org.knime.pixi.port.PythonEnvironmentPortObjectSpec$Serializer">
            </portObject>
      </extension>
</plugin>