<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="CondaEnvironment" name="CondaEnvironment" schema="schema/CondaEnvironment.exsd"/>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.knime.conda.envbundling.action.InstallCondaEnvironment"
            name="installcondaenvironment"
            version="1.0.0">
      </action>
   </extension>
</plugin>
